[Unit]
Description=LabCore stack (backend + frontend)
Requires=labcore-backend.service labcore-frontend-prod.service

[Install]
WantedBy=multi-user.target
